body {
    font-family: Arial, sans-serif;
}

h1 {

  margin: 1em 0 0.5em 0;
	color: #4c19aa;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
}

p {
    font-size: 16px;
}